.headerbody {
    background-color: #2F5972;
    position: fixed;
    top:0;
    left:0;
    margin:0;
    padding:0;
    height: 120px;
    width: 100vw;
    z-index: 1000;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}
.header-logo{
    max-width: 100px;
    max-height: 100px;
}
.header-nav{
    display: inline-block;
    position: fixed;
    right:5px;
}

.header-nav ul{
 display: flex;
 flex-direction: row;

}
.header-nav ul li {
    margin: 25px;
    /* padding:15px; */

}
.button-box{
    display: block;
}
.login-button {
    display: flex;
    position: absolute;
    flex-wrap: wrap ;
    right: 3%;
    height:120px;
    width: 120px;

}